<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Universal Solar Tech</title>
</head>
<body>
   {{>navbar}}
{{!-- about section start --}}
    {{>about}}
{{!-- about section start --}}

{{!-- our products start --}}
    {{>products}}
{{!-- our products start --}}

{{!-- our services start --}}
    {{>service}}
{{!-- our services start --}}

{{!-- our maps start --}}
       {{>maps}}
{{!-- our maps start --}}

{{!-- our contact start --}}
    {{>contact}}
{{!--  ourcontect start --}}
  

   {{>footer}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>