<div class="container-fluid mt-5 about-style w-100" id="aboutid">                 
        <h1 class="text-center main-heading"><b>About Us</b></h1>
        <p >Universal Soler Tech company are inaugurat to since 2022 in Kota , Rajasthan.
           Company are working to the dealing waaree solar products ,accessonies and services.
           The Company are the authorised Franchies partners of waaree.
           Presently we are providing services to Our focus on areas just like Kota,Bundi,Baran,jhalawer and Sawai Madhopur.
        </p>
        
       <div class="Thecorevalue w-100">
           <h1 class="m-2"><b>The Core Value</b></h1>
             <p class="m-5">The core values of our organization underlie all our work and strategies that we deploy to accomplish our vision and mission.</p>
        <div class="row row-cols-1 row-cols-md-5 g-5 h-100 ">
                <div class="col ">
                 <div class="card ">
                  <img src="image/integrity.png" class="card-img-top h-25 w-25" alt="...">
                  <div class="card-body">
                    <h1 class="card-title text-center">Integrity</h1>
                  </div>
                 </div>
                </div>
                
                <div class="col">
                  <div class="card h-75">
                   <img src="image/customer first.png" class="card-img-top h-25 w-25" alt="...">
                  <div class="card-body">
                    <h1 class="card-title text-center">customer first</h1>
                  </div>
                 </div>
                </div>
                <div class="col">
                  <div class="card h-75">
                   <img src="image/Respect for Individuals.png" class="card-img-top h-25 w-25" alt="...">
                   <div class="card-body">
                     <h1 class="card-title text-center">Respect for Individuals</h1>
                   </div>
                </div>
                </div>
                <div class="col">
                  <div class="card h-75">
                   <img src="image/Passion for Excellence1.png" class="card-img-top h-25 w-25" alt="...">
                  <div class="card-body">
                        <h1 class="card-title text-center">Passion for Excellence</h1>
                   </div>
                  </div>
                 </div>
                <div class="col">
                  <div class="card h-75 ">
                   <img src="image/Continuous Improvement & Innovation.png" class="card-img-top h-25 w-25" alt="...">
                  <div class="card-body">
                        <h1 class="card-title text-center">Continuous Impro.and Inno.</h1>
                   </div>
                  </div>
                 </div>
           </div>
          </div>  
        </div>
<div class="Vission-Mission">    
<div class="row row-cols-1 row-cols-md-2 g-2 m-5">
  <div class="col">
    <div class="card">
        <h1 class="card-title">Vision</h1>
      <img src="image/vision_image.jpg" class="card-img-top w-75" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Our Vision is to provide high quality and cost effective sustainable energy solutions across all the markets, reducing carbon foot print - paving way for sustainable energy thereby improving quality of present and future human life.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
        <h1 class="card-title">Mission</h1>
      <img src="image/mission_image.jpg" class="card-img-top w-75" alt="...">
      <div class="card-body">
        <p class="card-text text-center">By virtue of our commitment to our stakeholders, we strive for continuous improvement in the quality of our products and services.</p>
      </div>
    </div>
  </div>
</div>  
</div>
</div>
