<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
       <div class="container-fluid mt-5 about-style" id="contactid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <h1 class="text-center main-heading">Contact-us</h1>
               <p  class="text-center sub-heading" >grow your business with us</p>
               <div class="row">
                   <div class="col-md-6 col-12 mx-auto">
                   <form action="/contact" method="POST">
                    <div class="form-group">
                        <label for="exampleInputfirstname1">First Name</label>
                        <input type="text" class="form-control" id="exampleInputfirstname1" aria-describedby="firstnameHelp" placeholder="first name" name="firstname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputlastname1">Last Name</label>
                        <input type="text" class="form-control" id="exampleInputlastname1" aria-describedby="lastnameHelp" placeholder="last name" name="lastname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                    </div>
                   <div class="form-group">
                        <label for="exampleInputphone">Phone No</label>
                        <input type="text" class="form-control" id="exampleInputphone" aria-describedby="phoneHelp" placeholder="Enter phone no" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
               </div>
            </div>
        </div>
    </div>
</body>
</html>