 <footer>
    <diV class="footer">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-auto">
            <div class="card-body ">
              <h1 >UNIVERSAL SOLAR TECH</h1>
              <a href="https://www.facebook.com/profile.php?id=100088641874943" class="text-white"><i class="bi bi-facebook text-white"></i></a>
              <a href="" class="text-white"><i class="bi bi-linkedin text-white"></i></a>
              <a href="" class="text-white"><i class="bi bi-instagram text-white"></i></a>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-auto">
            <div class="card-body">
              <i class="bi bi-pin-map-fill"></i>
               <h2 class="card-title"> Corporate Office</h2>
               <small>Universal Solar Tech Ltd</small> 
        <br><br>
               <p>1st Floor, Plot No. 9, Transport Nagar Ext. Kota - 324005,Rajasthan</p> 
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-auto Conduct_us">
            <div class="card-body">
              <i class="bi bi-telephone-outbound"></i>
              <h2 class="card-title">Talk to Us</h2>
              <p>Our customer experience team is ready to answer any questions.</p>
              <phone>Toll Free - +91-9408794336 </phone>
            </div>
          </div>
        </div>
       <div class="col">
        <div class="card h-auto Conduct_us">
          <div class="card-body">
            <i class="bi bi-envelope-fill"></i>
            <h2 class="card-title">Drop Email</h2>
              <p>Send us an email and we will make sure it gets to the right person</p>
               <a href="https://mail.google.com" >garg.universal@gmail.com</a>
            </div>
        </div>
      </div>
     </diV>
    
      <hr class="dropdown-divider">
       
      <div class="row row-cols-1 row-cols-md-4 g-4 ">
            <div class="col">
              <div class="card h-auto">
                <div class="card-body">
                  <h2 class="card-title">Company</h2>
                  <ul>
                    <p>About Us</p>
                    <p>Store</p>
                    <p>Why Solar</p>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-auto">
                <div class="card-body">
                  <h2 class="card-title">Products</h2>
                  <ul>
                    <p>PV Modules</p>
                    <p>Inverter</p>
                    <p>Solar Products</p>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-auto md-10">
                <h2 class="card-title">Services</h2>
                <div class="card-body">
                  <ul>
                   <p><a href="#" class="text-white">Installation</a></p>
                   <P><a href="#" class="text-white">Customer Support</a></P>
                   <p><a href="#" class="text-white">Components</a></p>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-auto">
                <div class="card-body">
                  <h2 class="card-title">Other</h2>
                   <p>Privacy Policy</p>
                   <P>Terms and Conditions</P>
                </div>
              </div>
            </div>
          </diV>
           <hr class="dropdown-divider">
           <div class="last">
            <p><i class="bi bi-c-circle"></i> 2022 Universal Solar Tech Inc. || All rights reserved</p>
           </div>
    </diV>
  </footer> 