<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Universal Solar tech</title>
</head>
<body>
    <div class="container-fluid navbar-style py-3 ">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto " > 
                <nav class="navbar navbar-expand-lg w-100">

              <a class="navbar-brand" href="#"  id="logo">UNIVERSAL SOLAR TECH</a>
              <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  {{!-- <li class="nav-item active">
                    <a class="nav-link " href="#aboutid">Home <span class="sr-only">(current)</span></a>
                  </li> --}}
                      <li class="nav-item">
                    <a class="nav-link" href="#aboutid">About</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="#productsid">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#serviceid">Service</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contactid">Contact-us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Otherservice
                    </a>
                    <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                      <a class="dropdown-item text-white" href="#aboutid">Company</a>
                      <a class="dropdown-item text-white" href="#productsid">Products</a>
                      <a class="dropdown-item text-white" href="#serviceid">FieldServices</a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
         </div>
     </div>
</div>
<div>
   <img src="image/ust.jpg" alt="..." class="w-100">
</div>

</body>
</html>