
    <div class="container-fluid mt-5 services-style mt-lg-5" id="serviceid">
        <h1 class="text-center main-heading">Our Services</h1>
        <p  class="text-center sub-heading" >grow our business to provide best facilities</p>
        <div class="Installation">
          <h1>Installation:</h1>
            <p>We have best working team. they always ready to help over customer and we have providing best Engineer's team to solor Installation.  </p>
        </div>
         
        <h1> working side picture</h1>
        <div class="row">
            <div class="row row-cols-1 row-cols-md-5 g-5">
                <div class="col">
                    <div class="card">
                    <img src="image/Workplace/Invator installation.jpg" class="card-img-top" alt="...">
                   </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img src="image/Workplace/Invator.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img src="image/Workplace/solar panel installation.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img src="image/Workplace/Solar panel.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img src="image/Workplace/Solar Panels.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
        </div>

       <div class="cutomersupport mt-50 ">
           Cutomer Support:
           <p> we are always available to customer support any time you talk to over customer support team to mail , phone and visit our company.</p>
           <div class="card mb-3" style="max-width: 540px;">
             <div class="row g-0">
              <b>Over Help Support team:</b>
                <div class="card-body">
                   <p>Address: - 1st Floor, Plot No. 9, Transport Nagar Ext. Kota - 324005,Rajasthan</p>
                   <p>Mobile no: - +91-9408794336</p>
                   <a href="https://mail.google.com">garg.universal@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
    </div>
